
#tsShopContainer {
    width: 392px;
    height: 495px;
    float: left;
    position: relative;
    margin-left:50px;
    margin-right:100px;
}

#tsShopContainer #tsImgS {
    text-align: center;
    width: 100%;
    position: relative;
    border: 1px solid #eaeaea;
}

#tsShopContainer #tsImgS a {
    display: block;
    text-align: center;
    margin: 0 auto;
}

#tsShopContainer #tsImgS img {
    border: 0;
    width: 390px;
    height: 390px;
    
}

#tsShopContainer #tsPicContainer {
    width: 100%;
    height: 90px;
    position: relative;
    margin-top: 10px;
}

#tsShopContainer #tsPicContainer #tsImgSArrL {
    width: 15px;
    height: 100%;
    background: url(../images/r_left.png) no-repeat left center;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
}

#tsShopContainer #tsPicContainer #tsImgSArrR {
    width: 15px;
    height: 100%;
    background: url(../images/r_right.png) no-repeat right center;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}

#tsShopContainer #tsPicContainer #tsImgSCon {
    position: absolute;
    top: 0;
    left: 18px;
    height: 90px;
    overflow: hidden;
}

 #tsImgSCon ul {
    width: 100%;
    overflow: hidden;
}

 #tsImgSCon li {
    width: 90px;
    float: left;
    cursor: pointer;
}

 #tsImgSCon li img {
    padding: 2px;
    margin: 1px;
    border: 1px solid #eaeaea;
    display: block;
    width: 79px;
    height: 79px;
}

 #tsImgSCon li.tsSelectImg img {
    border: 3px solid #ff4e00;
    padding: 1px;
    margin: 0;
}